/* 
Path: src/components/MadyBot_Vue.css
Estilos para el contenedor principal de la aplicación
*/
.container {
  display: flex;
  gap: 10px;
  height: 100%;
  margin: 0px;
}

/* Estilos para el iframe y el chatbot */
.iframe {
  width: 80%;
  height: 98vh;
  border: none;
}

.chatbot {
  width: 20%;
  height: 98vh;
  display: flex;
  flex-direction: column;
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.mt-3 {
  height: 750px; /* Deberá ser una altura automatica para forzar el scroll */
  overflow-y: auto;
  flex-shrink: 0;
}


.button-right {
  display: flex;
  justify-content: flex-end;
}