/* 
Path: src/components/MadyBot_Vue.css
Estilos para el contenedor principal de la aplicación
*/
.container_main {
  display: flex;
  gap: 15px; 
  border: 15px solid transparent;
  background-image: url('@/assets/background.webp');
}

/* Estilos para el iframe y el chatbot */
.iframe {
  width: 75%;
  height: 95vh;
  border: none;
}

.chatbot_card {
  width: 25%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  background-color: transparent; 
}

.card_header {
  height: 15vh;
  /*Color verde oscuro de fondo y letras negrita blancas*/
  background-color: #042e00;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_body {
  display: flex;
  flex-direction: column;
  height: 78vh;
  overflow: hidden;
  background-color: transparent; 
  overflow-y: auto;
}

.card_footer {
  height: 15vh;
}