/* 
Path: src/components/MadyBot_Vue.css
Estilos para el contenedor principal de la aplicación
*/
.container_main {
  display: flex;
  background-image: url('@/assets/background.webp');
}

/* Estilos para el iframe y el chatbot */
.iframe {
  width: 75%;
}

.chatbot_card {
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.card_header {
  height: 15vh;
  margin: 10px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: #042e00;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.chatbot_icon {
  width: 60px;
  height: 60px; 
  border-radius: 50%;
  margin: 10px;
  margin-right: 15px;
}

.card_body {
  margin: -10px;
  margin-left: 15px;
  margin-right: 20px;
  flex-direction: column;
  height: 78vh;
  overflow: hidden;
  background-color: transparent; 
  overflow-y: auto;
}

/* Estilos para los globos de mensajes */
.message-received {
  background-color: #e1ffc7;
  border-radius: 10px;
  padding: 10px;
  margin: 5px 0;
  max-width: 80%;
  align-self: flex-start;
}

.message-sent {
  background-color: #dcf8c6;
  border-radius: 10px;
  padding: 10px;
  margin: 5px 0;
  max-width: 80%;
  align-self: flex-end;
}

.card_footer {
  height: 5vh;
  margin: 15px;
  margin-right: 25px;
}